body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

nav{
    background-color:#ff3300;

    font-size: 28px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
nav li{
    display: inline;
    gap: 30px;
    margin: 0 8px;

}
nav div{
    font-size: 36px;
    font-weight: bolder;
}

nav a{
    color: white;
    text-decoration: none;
}
.menu-line{
    height: 5px;
    width: 30px ;
    background-color: blue;
    margin: 5px 0;
}
.menu{
    display: none;
    cursor: pointer;
}
button{
  
    border-radius: 15px;
    background-color: #ff3300 ;
    padding: 20px;
    color: white;
    box-shadow: 5px 5px 15px orangered;
    border: none;
    
a{
    text-decoration: none;
    font-size: 20px;
}
}
  

img{
    width: 350px;
   margin-top: 50px;
    border-radius: 1000px;
    box-shadow: 5px 5px 5px 5px orangered;
}
.hero{
    display: flex;
    margin-right: 20%;
}
.card{
    padding: 20px;
    border-radius: 50px;
    box-shadow: 2px 2px 15px orangered;
    justify-content: space-around;
    color: orangered;
    height: 150px;
    transition:  0.3s ease;
}
i{
 font-size: 100px;
}
.socket{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card h4{
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 0;
}
.card:hover{
    margin-top: -10px;
    
}
@media screen and (max-width:640px){
    nav  {
        flex-direction: column;
    }
    nav li{
        display: block;
        padding: 10px 0;
    }
    ul {
        text-align: center;
        padding: 0;
        display: none;
    }
    nav div{
        align-self: flex-start;
        margin: 10px 0 0 30px;
    }
    .menu{
        display: block;
        position: absolute;
        top: 22px;
        right: 20px;
    }
    .showmenu{
        display: block;
    }
    .hero{
     display: block;
    }
    .ap{
        display: block;
        width: 100%;
    }
    img{
        width: 250px;
        border-radius: 1000px;
        padding: 0;
        box-shadow: 5px 5px 5px 5px orangered;
        margin-top: 90px;
        margin-left: 80px;
    
    }
  .socket{
    display: flex;
    justify-content: space-around;
    gap: 30px;
  }

    
}